.AboutMeContent {
  max-width: 1104px;
}
.aboutMeImgWrapper {
  width: 100%;
  margin-bottom: 64px;
}
.aboutMeImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.aboutLargeText {
  margin-bottom: 64px;

  width: 100%;
}

.aboutMeContent {
  display: flex;

  flex-direction: column;
  gap: 16px;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}

#muralLink {
  text-decoration: underline;
}

.philSection {
  display: flex;
  max-width: 1104px;
  margin-bottom: 7.5rem;
  flex-direction: column;
  gap: 16px;
}

.photoGallery {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 3.5rem;
}
.photoGallery img {
  width: 100%;
  border-radius: 0px;
}

.CollQuoteGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CollQuoteCard {
  padding: 24px 16px 16px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background: radial-gradient(
      87.29% 87.29% at 50% 100.24%,
      rgba(80, 86, 115, 0.1) 0%,
      rgba(0, 7, 22, 0) 100%
    ),
    #000505;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.25),
    0px -0.5px 0px 0px rgba(255, 255, 255, 0.1);
}

.quoteAndDetails {
  display: flex;
  gap: 16px;
  align-items: center;
}
.colleagueDetails {
}

@media (min-width: 604px) {
  .photoGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1104px;
  }
  .photoGallery :nth-child(1) {
    grid-column: span 2;
  }
}

@media (min-width: 724px) {
  .aboutTopGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 7.5rem;
    max-width: 1104px;
  }

  .aboutLargeText {
    grid-row-start: 1;
  }
  .aboutMeImgWrapper {
    margin-bottom: 0;
    grid-row: span 2;
  }
  .aboutMeImg {
    height: 100%;
  }
}
