.basicCard {
  /* gap: 1.5rem; */
  padding: 24px 16px 16px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 100%;
  box-sizing: border-box;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconCard {
  gap: 1.5rem;
  padding: 24px 16px 16px;
  border: 1px solid var(--secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  flex-basis: 100%;
  box-sizing: border-box;
}

@media (min-width: 604px) {
  .cardGroup {
    flex-direction: row;
  }
}
@media (min-width: 604px) {
  .cardGroup {
    flex-direction: row;
    width: 100%;
  }
}
@media (min-width: 900px) {
  .cardGroup {
    flex-direction: row;
  }
}
