.basicCard {
  padding: 24px 16px 16px;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 50%;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.1);

  background: radial-gradient(
      87.29% 87.29% at 50% 100.24%,
      rgba(80, 86, 115, 0.1) 0%,
      rgba(0, 7, 22, 0) 100%
    ),
    #000505;

  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.25),
    0px -0.5px 0px 0px rgba(255, 255, 255, 0.1);
}

.cardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.marginTopcardGroup {
  margin-top: 16px;
}

.iconCard {
  gap: 1.5rem;
  padding: 24px 16px 16px;

  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  flex-basis: 50%;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.1);

  background: radial-gradient(
      87.29% 87.29% at 50% 100.24%,
      rgba(80, 86, 115, 0.1) 0%,
      rgba(0, 7, 22, 0) 100%
    ),
    #000505;

  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.25),
    0px -0.5px 0px 0px rgba(255, 255, 255, 0.1);
}

.listItemPadding {
  padding-inline-start: 16px;
}

.listItemPadding li {
  padding-bottom: 8px;
}

.listItemPadding :nth-child(3) {
  margin-bottom: 0;
}

#svgNumberList li {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

#svgNumberList :nth-child(3) {
  margin-bottom: 0;
}

.QuotecardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.QuoteCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px 16px;
  /* border: 1px solid var(--secondary); */
  border-radius: 8px;

  border: 0.5px solid rgba(0, 0, 0, 0.2);

  background: radial-gradient(
      87.29% 87.29% at 50% 100.24%,
      rgba(187, 210, 255, 0.05) 0%,
      rgba(0, 7, 22, 0) 100%
    ),
    #000505;

  box-shadow: 0px -0.5px 0px 0px rgba(255, 255, 255, 0.1),
    0px 4px 129px 0px rgba(0, 0, 0, 0.34);
}

.divider {
  border-bottom: var(--secondary) solid 1px;
  padding: 8px 0px;
}

#ConsTopPadding {
  padding-top: 16px;
}

@media (min-width: 604px) {
  .cardGroup {
    flex-direction: row;
    width: 100%;
  }
  #remainStackedCardGroup {
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .cardGroup {
    flex-direction: row;
  }
  #basicCardVMargin {
    margin-top: 32px;
  }
  #remainStackedCardGroup {
    flex-direction: row;
  }

  .QuoteCard {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .QuotecardGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
