.caseStudyContent {
  max-width: 1104px;
  width: 100%;
}

.caseSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

/* IMAGES */

.imgWrapper-topMargin {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  gap: 16px;
}
.competitiveWrapper-topMargin {
  margin-top: 16px;

  gap: 16px;
}
#aboutImg {
  max-width: 540px;
  /* height: fit-content; */
}

.imgGroupNoLabels {
  margin: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imgWithCardGroup {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 16px;
}

/* IMAGE WITH CARD GROUP */

.version-ImageCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.labelAndDesign {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 150%;
  box-sizing: border-box;
}
#version {
  color: var(--secondary);
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  line-height: 24px;
}

/* HEROS */
.caseStudyHero {
  margin-bottom: 7.5rem;
}

.caseStudyTitleDescription {
  margin-bottom: 32px;
}

.vidContainer {
  display: flex;
  justify-content: center;
}

.heroVid {
  width: 95%;
  border-radius: 6px;
  position: absolute;
  top: 6%;
}

.basicCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

/* ABOUT */
.AboutSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

.projectDetails {
  display: flex;
  row-gap: 16px;
  column-gap: 24px;
  width: 100%;
  flex-wrap: wrap;
}
.singleDetail {
  flex: 1 0 31%;
}
.singleDetail ul li {
  list-style: none;
  font-size: 0.86rem;
  color: var(--secondary);
}
@media (min-width: 520px) {
  /* .singleDetail {
    flex: 1 0 32%;
  } */
}
@media (min-width: 604) {
  #remainStackedCardGroup {
    flex-direction: column;
  }
}
@media (min-width: 724px) {
  /* ABOUT */

  .singleDetail {
    flex: 1 0 21%;
  }

  .imgGroupNoLabels {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  #remainStackedCardGroup {
    flex-direction: row;
  }

  .singleDetail {
    flex: 1 0 30%;
  }

  /* IMAGE WITH CARD GROUP */
  .version-ImageCardGroup {
    display: flex;
    flex-direction: row;
  }

  #imageVideoExtraHeight {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
  }
  .zoomVideoClip {
    overflow: hidden;
  }

  #imgVideoScaleUp {
    width: 150%;
  }

  .AboutSection {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    grid-row-start: 3;
    grid-column: span 2;
  }

  .AboutSection :nth-child(2) {
    grid-row-start: 2;
    grid-column: span 3;
  }
  .AboutSection :nth-child(4) {
    grid-row-start: 3;
    grid-column: span 3;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
  }
  .AboutSection :nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-end: 4;
  }
}
