/* variable */
:root {
  --primary: #000505;
  --secondary: #808282;
  --tertiary: #fff;
  --warning: #e5d528;
  --gradient: linear-gradient(
    99deg,
    #69abfc 37.81%,
    #4dc1c6 70.79%,
    #31d891 103.59%
  );
  font-size: 16px;
  line-height: 1.5;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* Typography */

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 4vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tertiary);
  line-height: 1.2;
}

p,
a,
li {
  color: var(--tertiary);
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Navigation */
nav {
  height: 72px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  margin-bottom: 32px;
}
nav p {
  color: var(--secondary);
}

/* Main Container */
main {
  margin: 4%;
}

/* Image and profile */

.imgProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 48px;
}
#portrait {
  width: 100%;
  max-width: 72px;
  height: auto;
  border-radius: 8px;
  margin-right: 16px;
  filter: grayscale(100%);
}
.profileText {
  line-height: 1.2;
  font-weight: 300;
}

.greyText {
  color: #808282;
}

/* Hero Message */
.hero {
  display: none;
  width: 75%;
  margin-bottom: 16%;
}

#mainText {
  letter-spacing: 0.02286rem;
  margin-bottom: 16px;
}
#humanGradient {
  background: var(
    --Gradient-1,
    linear-gradient(99deg, #69abfc 37.81%, #4dc1c6 70.79%, #31d891 103.59%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GRID EXERCISE _____________________________________________________________________*/

/* Case Studies */
#caseStudyTitle {
  margin-bottom: 8px;
}

.caseStudies {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Card Styles */
.cardContainer {
  display: grid;
  gap: 1.5rem;
  /* grid-template-columns: repeat(2, 1fr); */

  padding: 16px 16px 16px 16px;
  border: 1px solid var(--secondary);
  border-radius: 16px;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* margin-bottom: 24px; */
}

.imageContent {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

/* video {
  border-radius: 8px;
  width: 100%;
} */

#marketingImage {
  /* width: 100%;
  height: auto; */
}

.imgWrapper {
  width: 100%;
  aspect-ratio: auto 16/9;
}
.projPreview {
  width: 100%;
  height: auto;
}

.resultIcon {
  margin-right: 8px;
}

.resultItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.2r;
  margin-bottom: 8px;
}
.noResults {
  margin-bottom: 0;
}

/* In Progress */

#progTag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#warning {
  display: flex;
  align-items: center;
  background-color: var(--warning);
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 8px;
  height: 12px;
  line-height: 12px;
}

/* Media Query Starts */
@media (min-width: 604px) {
  .cardContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 16px 16px;
    border: 1px solid var(--secondary);
    border-radius: 16px;
  }
  .projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
  }
  .imgWrapper {
    width: 100%;
    aspect-ratio: auto 16/9;
    grid-column: span 2;
  }
  .projPreview {
    width: 100%;
    height: auto;
  }
  .results {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
@media (min-width: 724px) {
  .cardContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8, 1fr);

    padding: 24px 16px 16px 16px;
    border: 1px solid var(--secondary);
    border-radius: 16px;
    max-height: 400px;
  }
  .projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: span 8;
  }
  .description {
    grid-column: span 3;
  }
  .imgWrapper {
    width: 100%;
    aspect-ratio: auto 16/9;
    grid-column: span 2;
  }
  .projPreview {
    width: 100%;
    height: auto;
  }
  .results {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column: span 3;
    padding-bottom: 16px;
  }
  .imageContent {
    grid-row: span 2;
    grid-column: span 5;
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: 690px;
  }
  @media (min-width: 900px) {
    .cardContainer {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, auto);
      padding: 24px 16px 16px 16px;
      border: 1px solid var(--secondary);
      border-radius: 16px;
      max-height: 400px;
    }
    .projectTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      grid-column: span 12;
    }
    .description {
      grid-column: span 6;
    }

    /* .imageContent {
      grid-column: span 6;
      border-radius: 16px 16px 0 0;
      width: 100%;
      height: 100%;
      grid-row: span 2;
    } */
    .results {
      grid-column-start: 2;
      grid-row-start: 3;
      grid-column: span 6;
      padding-bottom: 16px;
    }
    .imageContent {
      grid-row: span 2;
      grid-column: span 6;
      border-radius: 8px;
      width: 100%;
      height: auto;
      max-width: 500px;
    }
  }
}
