/* variable */
:root {
  --primary: #000505;
  --secondary: #808282;
  --tertiary: #fff;
  --warning: #e5d528;
  --gradient: linear-gradient(
    99deg,
    #69abfc 37.81%,
    #4dc1c6 70.79%,
    #31d891 103.59%
  );
  font-size: 14px;
  line-height: 1.25rem;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* Typography */

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 4vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tertiary);
  line-height: 2.71rem;
}

p,
a,
li {
  color: var(--tertiary);
  font-weight: 300;
}

h1 {
  font-size: 2.2857rem;
  font-weight: 400;
}
h2 {
  font-size: 1.7143rem;
  font-weight: 400;
}
h3 {
  font-size: 1.2857rem;
  font-weight: 500;
}

/* Navigation */
nav {
  height: 48px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  margin-bottom: 32px;
}
nav p {
  color: var(--secondary);
}

/* Main Container */
main {
  margin: 0 24px 24px 24px;
}

/* Image and profile */

.imgProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
#portrait {
  width: 100%;
  max-width: 40px;
  height: auto;
  border-radius: 8px;
  margin-right: 8px;
  filter: grayscale(100%);
}
.profileText {
  line-height: 1.5rem;
  font-weight: 300;
}

.greyText {
  color: #808282;
}

/* Hero Message */
.hero {
}
.heroSection {
  margin-bottom: 64px;
}

#mainText {
  letter-spacing: 0.02286rem;
  margin-bottom: 8px;
}
#humanGradient {
  background: var(
    --Gradient-1,
    linear-gradient(99deg, #69abfc 37.81%, #4dc1c6 70.79%, #31d891 103.59%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Case Studies */
#caseStudyTitle {
  margin-bottom: 8px;
}

.caseStudies {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Card Styles */
.cardContainer {
  padding: 24px 16px;
  border: 1px solid var(--secondary);
  border-radius: 16px;
  /* background: linear-gradient(
    180deg,
    #3059e6 0%,
    #503bff 24.48%,
    #1375cf 43.23%,
    #000 66.15%,
    #150f42 83.85%,
    #2a1f85 100%
  ); */
}
.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cardDescription {
  margin-bottom: 24px;
}

video {
  border-radius: 8px;
  margin-bottom: 24px;
}

#marketingImage {
  width: 100%;
  height: auto;
}

.resultIcon {
  margin-right: 8px;
}

.resultItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1rem;
  margin-bottom: 8px;
}
.noResults {
  margin-bottom: 0;
}

/* In Progress */

#progTag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#warning {
  display: flex;
  align-items: center;
  background-color: var(--warning);
  border-radius: 100px;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 8px;
  height: 12px;
  line-height: 12px;
}

/* Media Queries Start */
@media (max-width: 4px) {
  main {
    margin: 6.6%;
  }
  img {
    width: 100%;
  }
}
