.caseStudyContent {
  max-width: 1104px;
  width: 100%;
}

.imgWrapper-topMargin {
  text-align: center;
  margin-top: 16px;
}

.basicCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

/* HERO START */

.caseStudyHero {
  margin-bottom: 7.5rem;
}
.caseStudyTitleDescription {
  margin-bottom: 32px;
}
.caseHeroImg {
  text-align: center;
  position: relative;
  margin-bottom: 20%;
}

.vidContainer {
  display: flex;
  justify-content: center;
}

.heroVid {
  width: 95%;
  border-radius: 6px;
  position: absolute;
  top: 6%;
}

.resultGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

/* ABOUT SECTION */

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

.projectDetails {
  display: flex;
  row-gap: 16px;
  column-gap: 24px;
  width: 100%;
  flex-wrap: wrap;
}
.singleDetail {
  flex: 1 0 31%;
}

/* BACKGROUND */

#aboutImg {
  max-width: 540px;
}

.oppCards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auditCaseSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

/* QUERY BUILDER */

.version-ImageCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
#version {
  color: var(--secondary);
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  line-height: 24px;
}

.labelAndDesign {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 150%;
  box-sizing: border-box;
}
.labelAndDesign2 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 50%;
  box-sizing: border-box;
}

.phase1Section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 7.5rem;
}

.auditCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.caseSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

.QueryBuilderSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 7.5rem;
}

/* .QueryBuilderSection :nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.completeVersionSection :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.singleDetail ul li {
  list-style: none;
  font-size: 0.86rem;
  color: var(--secondary);
}

.opportCardGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.caseQuote {
  color: var(--secondary);
}

#components li {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

#components :nth-child(3) {
  margin-bottom: 0;
}

.listItemPadding {
  padding-inline-start: 16px;
}

.listItemPadding li {
  padding-bottom: 8px;
}

.listItemPadding :nth-child(3) {
  margin-bottom: 0;
}

.competitiveChart {
  margin: 16px 0px 0px 0px;
  text-align: center;
}

.competitiveChart object {
  width: 100%;
}

.OppScreenShotGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.firsExScreenshots {
  margin: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.OppImgAndCards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.OppScreenShotGroup div {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.designVersion {
  text-align: left;
  border-radius: 100px;

  height: 12px;
  line-height: 12px;
}

.completeVersionSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.queryVersionImg {
  background-color: red;
  border-radius: 8px;
  height: 100%;
}

.iterationImg {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.divider {
  border-bottom: 1px solid var(--secondary);
  margin: 4px 0;
}

.finalDesign {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.finalQueryVid {
  width: 100%;
}

#bottomResults {
  margin-top: 16px;
}

/* MEDIA QUERIES START */

@media (min-width: 520px) {
  .singleDetail {
    flex: 1 0 32%;
  }
}
@media (min-width: 604px) {
  /* HERO */
  #resultGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* WHAT ARE WE WORKING WITH */
  #auditCardGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  #auditCardGroup :nth-child(1) {
    grid-column: span 2;
  }
  #auditCardGroup :nth-child(2) {
    grid-column: span 2;
  }
  #auditCardGroup :nth-child(3) {
    grid-column: span 4;
  }

  #remainStackedCardGroup {
    flex-direction: column;
  }
  .OppScreenShotGroup {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }

  /* #opportunitySection {
    display: flex;
  } */
  .firsExScreenshots {
    flex-direction: row;
  }

  .firsExScreenshots div {
    background-color: #fff;
    border-radius: 8px;
  }

  /* QUERY BUILDER */
}

@media (min-width: 724px) {
  /* ABOUT */

  .singleDetail {
    flex: 1 0 21%;
  }

  .OppScreenShotGroup {
    flex-direction: row-reverse;
  }
  .opportCardGroup {
    flex-direction: row;
  }
  .opportCardGroup div {
    width: 100%;
  }
  .basicCardGroup {
    flex-direction: row;
  }
  .basicCardGroup div {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .singleDetail {
    flex: 1 0 31%;
  }

  .aboutSection {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    grid-row-start: 3;
    grid-column: span 2;
  }

  .aboutSection :nth-child(2) {
    grid-row-start: 2;
    grid-column: span 3;
  }
  .aboutSection :nth-child(4) {
    grid-row-start: 3;
    grid-column: span 3;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
  }
  .aboutSection :nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-end: 4;
  }

  #auditCardGroup {
    display: flex;
    flex-direction: row;
  }

  #remainStackedCardGroup {
    flex-direction: row;
  }

  /* QUERY BUILDER */
  .version-ImageCardGroup {
    display: flex;
    flex-direction: row;
  }
  #imageVideoExtraHeight {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
  }
  #QueryBuilderVidZoom {
    width: 150%;
  }

  .zoomVideoClip {
    overflow: hidden;
  }
}
